<!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
                <div class="d-flex justify-content-center">
                    <div class="text-center">
                        <h1 class="mx-auto my-0 text-uppercase">Hi, I'm Francisca</h1>
                        <h2 class="text-white-50 mx-auto mt-2 mb-5">This is my web portfolio</h2>
                        <%= link_to 'Contact me', '#contact', class: 'btn btn-primary' %>
                    </div>
                </div>
            </div>
        </header>
        


        <!-- About-->
    <section class="about-section text-center" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-4 text-center">
                    <%= image_tag("yo.png", class: "card-img-top my-custom-image", alt: "...") %>
                 </div>
                <div class="col-lg-8 text-left">
                <h1 class="text-white mb-3">Francisca Paredes P</h1>
                <h2 class="mb-3">Full Stack Developer Ruby On Rails</h2>
                <p class="text-white-50">
                            Soy una entusiasta de la programación y nativa de Viña del Mar. 
                            A mis 28 años, he fusionado dos mundos aparentemente diferentes 
                            pero increíblemente complementarios: la Nutrición y la Programación. 
                            Soy Licenciada en Nutrición y Dietética con un enfoque especial en 
                            Nutrigenómica, lo que me permite explorar la intersección entre la 
                            ciencia de los alimentos y la genética humana. Mi pasión se extiende al
                             desarrollo web, siendo Ruby on Rails mi herramienta preferida. Esta 
                             plataforma me ha permitido crear aplicaciones web de forma rápida y 
                             eficiente, aprovechando su potente arquitectura MVC. 
                             Actualmente, estoy trabajando en un proyecto que une lo 
                             mejor de ambos mundos. Estoy desarrollando una aplicación web 
                             que integra principios nutrigenómicos con algoritmos inteligentes 
                             para ofrecer planes de nutrición personalizados y eficaces. Este enfoque 
                             innovador busca revolucionar la forma en que los pacientes reciben 
                             asesoramiento nutricional.
                        </p>
                    </div>
                </div>
        </div>
    </section>


<section class="masthead2" id="projects">
    <div class="container-fluid">
        <h1 class="text-center mb-5">Projects</h1>
<!-- Project One Row-->
        <div class="row gx-0 mb-5">
            <div class="col-lg-6 order-lg-2 mx-auto">
                <%= image_tag("landing.png", class: "img-uniform-size", alt: "...") %>
            </div>
            <div class="col-lg-6 order-lg-1 mx-auto">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">HTML y CSS: </h4>
                            <p class="mb-0 text-white-50">Landing paga: Iguana page fue uno de mis primero proyectos
                            utilizando maquetacion como html, css , bootstrap y js.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

                <div class="row gx-0 mb-5">
            <div class="col-lg-6 order-lg-2 mx-auto">
                <%= image_tag("flamenco.png", class: "img-uniform-size", alt: "...") %>
            </div>
            <div class="col-lg-6 order-lg-1 mx-auto">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">HTML y CSS</h4>
                            <p class="mb-0 text-white-50">Landing page, Flanco page fue uno de mis primero proyectos
                            utilizando maquetacion como html, css , bootstrap.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


                <div class="row gx-0 mb-5">
            <div class="col-lg-6 order-lg-2 mx-auto">
                <%= image_tag("cuppon.png", class: "img-uniform-size", alt: "...") %>
            </div>
            <div class="col-lg-6 order-lg-1 mx-auto">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">HTML x BOOTSTRAP</h4>
                            <p class="mb-0 text-white-50">Este proyecto se realizo para la implementación
                            correcta del formato resposive de las aplicaciones realizadas con bootstrap.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

     <div class="row gx-0 mb-5">
            <div class="col-lg-6 order-lg-2 mx-auto">
                <%= image_tag("ricomida.png", class: "img-uniform-size", alt: "...") %>
            </div>
            <div class="col-lg-6 order-lg-1 mx-auto">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">RoR x JS</h4>
                            <p class="mb-0 text-white-50">Esta aplicación se desarrollo con RoR y
                            se utilizo javascrip para el contenido dinamico.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row gx-0 mb-5">
            <div class="col-lg-6 order-lg-2 mx-auto">
                <%= image_tag("karina.png", class: "img-uniform-size", alt: "...") %>
            </div>
            <div class="col-lg-6 order-lg-1 mx-auto">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">RoR x Postgresql S3</h4>
                            <p class="mb-0 text-white-50">Esta aplicación tiene como objetivo
                            que nuestra clienta pueda subir imagenes y almacenarlas en S3 de amazon.
                            La apliación se escribio en ruby, se utilizo rails 7 y postgresql como base de 
                            datos relacional.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row gx-0 mb-5">
            <div class="col-lg-6 order-lg-2 mx-auto">
                <%= image_tag("nutri.png", class: "img-uniform-size", alt: "...") %>
                </div>
                <div class="col-lg-6 order-lg-1 mx-auto">
                <div class="bg-black text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="text-white">Ruby on Rails7 x PostgreSQL</h4>
                            <p class="mb-0 text-white-50">Nutrigenetic es una aplicación web desarrollada
                            con el objetivo de contribuir a la salud y obtimizar la nutrición de mis pacientes.
                            En su desarrollo se han utilizado varias herramientas, esta escrita
                            en ruby con rails 7, y una base de datos postgresql, ademas se incorporaron apis 
                            para la adquisicion de datos de otras aplicaciones. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Contact-->
        <section class="contact-section bg-black">
            <div id="contact" class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Address</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">#xxx, Viña del Mar, Valparaiso</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50"><a href="#!">francisca.paredes.pr@gmail.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Phone</h4>
                                <hr class="my-4 mx-auto" />
                                <div class="small text-black-50">+569-37123xxx</div>
                            </div>
                        </div>
                    </div>
                </div>

<!--Redes sociales-->
                <div class="social d-flex justify-content-center">
                    <a class="mx-3" href="https://stackoverflow.com/"><i class="fa-brands fa-stack-overflow"></i></a>
                    <a class="mx-3" href="https://www.youtube.com/watch?v=GKIftFRr3hs&t=2s"><i class="fa-brands fa-youtube"></i></a>
                    <a class="mx-3" href="https://github.com/franciscapr"><i class="fab fa-github"></i></a>
                </div>
            </div>
        </section>
        
